:root{
  --box-move-d: 10em;
}
.resume-outer-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1em;
  position: relative;
  top: -2em;
}

.resume-group {
  margin-bottom: 4em;
  position: relative;
}

.resume-group p{
  font-family: 'Montserrat', sans-serif;
  position: relative;
  overflow: hidden;
  font-weight: normal;
  font-size: 1.5em;
  margin: 0.25em;
  margin-bottom: .75em;
  text-align: center;
  text-shadow: 1px -1px 0 hsl(173, 0%, 70%),
        -1px -1px 0 hsl(173, 0%, 70%),
        1px -2px 0 hsl(173, 0%, 50%),
        -1px -2px 0 hsl(173, 0%, 50%);
}

.resume-group p::after{
  content: "";
  position: absolute;
  top: -0em;
  left: -1em;
  bottom: -0em;
  width: 125%;
  transform-origin: left;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.6) 50%, rgba(229, 172, 142, 0));
  transform: rotateZ(45deg) translate(-0em,1em);
}

/* https://cssanimation.rocks/pseudo-elements/ */
.resume-group p:hover::after, .resume-group p:focus::after {
  animation: sheen 1s forwards;
}

@keyframes sheen {
  100% {
    transform: rotateZ(45deg) translate(0em, -12em);
  }
}

.work-education{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.work-outer, .education-outer, .languages-outer{
  text-align: left;
  margin-right: 0.5em;
  margin-left: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-outer{
  z-index: 1;
}

.work-item{
  cursor: default;
  background: #242423;
  border-radius: 0.5em;
  line-height: 1.25;
  padding: 0.25em;
  margin-bottom: 0.15em;
  color: #242423;
  width: 15em;

  height: 1.5em;
  transition: 0.8s;
  transform-origin: top;
}

.work-title{
  color: #d6d6d6;
}

.work-company{
  font-size: 0.75em;
  color: inherit;
  margin-left: 2em;
  transition: 0.8s;
  transform: scale(1, 0.3);
  transform-origin: top;

}

.work-item:hover {
  transform: scale(1, 1);
  background: white;
  height: 2.5em;
}

.work-item:hover ~ .work-item{
  transform: translateY(0.25em) ;

}

.work-item:hover .work-company{
  transform: scale(1, 1);
}

.work-item:hover .work-title{
  color: black;
}

.education{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.5em;
  margin-left: -6em;
  margin-right: -6em;
  transition: 1s ease-out;
  position: relative;
}

.education:hover{
  transform: translate(var(--box-move-d),0);
}

.edu-item{
  overflow: hidden;
  display: flex;
  flex-direction: row;
  cursor: default;
}

.edu-container{
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.e1 .edu-container, .e3 .edu-container, .e1, .e3{
  flex-direction: row-reverse;
  text-align: right;
}

.e1 .edu-container, .e2 .edu-container{
  align-items: flex-end;
}

.school-text-container{
  white-space: nowrap;
  margin-left: 0.5em;
  margin-right: 0.5em;
  position: relative;
  transition: 1s ease-out;
}

.school-facade{
  position: relative;
  transition: 1s ease-out;
}

.e1 .school-text-container, .e3 .school-text-container, .e1 .school-facade, .e3 .school-facade{
  right: calc(-100% + 4.25em);
}

.e2 .school-text-container, .e4 .school-text-container, .e2 .school-facade, .e4 .school-facade{
  left: calc(-100% + 4.25em);
}

.edu-item:hover .school-text-container, .edu-item:hover .school-facade{
  right: 0%;
}

.e2:hover .school-facade, .e4:hover .school-facade, .e2:hover .school-text-container, .e4:hover .school-text-container{
  left: 0%;
}

.edu-item:hover img{
  filter: none;
}


.school-logo img{
  width: 4em;
  filter: grayscale();
  transition: filter 0.15s;
}

.school-name{
  text-decoration: underline;
  font-weight: bold;
}

.school-degree, .school-extras{
  font-size: 0.75em;
}

.school-extras{
  font-style: italic;
  height: 1.5em;
}




.language-cloud{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 35em;
  flex-wrap: wrap;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.language-item{
  display: block;
  font-size: 0.9em;
  padding: 0.125em 0.25em;
  text-decoration: none;
  position: relative;
  line-height: 2.5rem;
  cursor: default;
}

.language-item:hover{
  font-size: 1.05em;
  font-weight: bold;
  text-shadow: 0 0 10px #F5FF1D;
}

.projects-outer{
  width: 80%;
}

.project-button-container{
  position: relative;
}

.project-button-group{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  font-size: 2em;

}

.project-goto{
  position: relative;
  margin-bottom: 0.75em;
}

.project-button:hover .project-goto{
  /* box-shadow: 0 0 10px 3px #F5FF1D; */
  text-shadow: 0 0 13px #F5FF1D;
  bottom: 3px;
}


.project-button-shadow{
  content: '';
  position: relative;
  width: 1em;
  height: 0.25em;
  bottom: 0.2em;
  border-radius: 50%;
  background: rgba(0,0,0,0.4 );
  z-index: -5;
  filter: blur(0.1em);
}
