:root{
  --pers: max(-32vw, -50vh);
  --card-w: min(32vw, 46vh);
  --card-h: min(32vw, 46vh);
}

.project-carousel-container{
  margin: 0 auto;
  width: calc(var(--card-w) * 1.1);
  height: var(--card-h);
  top: -8vh;
  position: absolute;
  perspective: 1300px;
}

.project-carousel{
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

.carousel-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  position: relative;
  bottom: 0;
  z-index: 6;

}

.carousel-buttons p{
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2em;
}

.carousel-buttons p:hover{
  text-shadow: 0 0 13px #F5FF1D;
  transform: translateY(-3px);
}

.carousel-home{
  font-size: 0.8em;
}

.a{
  transform: rotateY(0deg) translateZ(var(--pers));
}
.b{
  transform: rotateY(60deg) translateZ(var(--pers));
}
.c{
  transform: rotateY(120deg) translateZ(var(--pers));
}
.d{
  transform: rotateY(180deg) translateZ(var(--pers));
}
.e{
  transform: rotateY(240deg) translateZ(var(--pers));
}
.f{
  transform: rotateY(300deg) translateZ(var(--pers));
}

@media only screen and (max-width: 427px) {
  /* For mobile phones: */
  [class*="project-carousel-container"] {
    top: -3vh;
  }
}
