
.wordlink-list{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  top: calc(84px - 1.8em);
  padding-bottom: 3em;
  padding-top: 1em;
  transform: scale(0);
  transform-origin: center 1.8em;
  font-size: 1.2em;

}
