:root{
  --orbit: -500px;
}

.contact-orbit-container{
  margin: 0 auto;
  width: 486px;
  height: 400px;
  top: max(25vh, 70px);
  position: absolute;
  perspective: 1300px;
}

.contact-orbit{
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

.orbit-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  position: relative;
  bottom: -20px;
  z-index: 6;

}

.orbit-buttons p{
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 30px;
}

.a{
  transform: rotateY(0deg) translateZ(var(--pers));
}
.b{
  transform: rotateY(60deg) translateZ(var(--pers));
}
.c{
  transform: rotateY(120deg) translateZ(var(--pers));
}
.d{
  transform: rotateY(180deg) translateZ(var(--pers));
}
.e{
  transform: rotateY(240deg) translateZ(var(--pers));
}
.f{
  transform: rotateY(300deg) translateZ(var(--pers));
}
