

/* div holding text and shadow */
.wordlink-outer-container{
  display: inline-block;
  position: relative;
}

/* div holding text */
.link-text{
  position: relative;
  cursor: pointer;
  font-size: 28px;
  text-shadow: 1px -1px 0 hsl(173, 0%, 70%),
        -1px -1px 0 hsl(173, 0%, 70%),
        1px -2px 0 hsl(173, 0%, 50%),
        -1px -2px 0 hsl(173, 0%, 50%);

  display: inline-block;
  justify-content: center;
  align-items: center;
}

.link-text:hover{
  text-shadow: 0 0 10px #F5FF1D;
  bottom: 0.1em;
}

/* shadow for the planet */
.text-shadow{
  content: '';
  position: relative;
  width: 100%;
  height: 0.5em;
  bottom: -1em;
  border-radius: 50%;
  background: rgba(0,0,0,0.4  );
  z-index: -1;
  filter: blur(13px);
}
