:root {
  --ph: 173;  /* Planet Color Hue */
  --ps: 0%;   /* Planet Color Saturation */
  --ps2: 0%;  /* Planet Color Saturation (outer - should be a bit higher) */
  --pl: 92%;  /* optional planet baseline lightness */
  --x1:  -3.45px;   /* x-translations for floating motion */
  --x2:  -2.47px;
  --x3:  -5.80px;
  --x4:  -8.28px;
  --x5:  4.80px;
  --x6:  5.16px;
  --x7:  -2.99px;
  --x8:  -2.63px;
  --x9:  6.01px;
  --x10:  0.54px;
  --x11:  7.49px;
  --x12:  -0.04px;
  --x13:  -1.92px;
  --y1 :  9.62px;
  --y2 :  1.19px;   /* y-translations for floating motion */
  --y3 :  6.10px;
  --y4 :  9.97px;
  --y5 :  -8.93px;
  --y6 :  9.28px;
  --y7 :  9.87px;
  --y8 :  1.12px;
  --y9 :  -2.70px;
  --y10 :  -6.32px;
  --y11 :  3.41px;
  --y12 :  -4.81px;
  --y13 :  9.57px;
  --s1 : 0.98;      /* scale factors for 3D floating motion */
  --s2 : 0.96;
  --s3 : 1.01;
  --s4 : 1.03;
  --fsmaller: 5;    /* factor to scale translations (not used) */
}

/* div holding planet and shadow */
.planet-container{
  display: flex;
  justify-content: center;
}

/* div holding planet and text */
.planet{
  width:168px;
  height:168px;
  border-radius: 50%;
  background: linear-gradient(hsl(var(--ph), var(--ps2), 25%) 0%, hsl(var(--ph), var(--ps2), 15%) 10%, hsl(var(--ph), var(--ps2), 6%) 50%, hsl(var(--ph), var(--ps2), 0%) 100%);
  line-height: 0;
  position: relative;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.planet:hover{
  box-shadow: 0 0 25px 7px #F5FF1D;
  bottom: 4px;
}

/* inner planet color gradient (keep this slightly lighter than the outer above) */
.planet::before{
  content: "";
  height: 120px ;
  width: 120px ;
  background: linear-gradient(hsl(var(--ph), var(--ps), 76%) 0%, hsl(var(--ph), var(--ps), 17%) 60%, hsl(var(--ph), var(--ps), 8%) 100%);
  border-radius: 50%;
  filter: blur(17px);
}

/* optional text within planet */
.planet-text{
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  color: hsl(28, 83%, 61%);
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0 0 2px black;
}

/* shadow for the planet */
.planet-shadow{
  content: '';
  position: relative;
  width: 168px;
  height: 50px;
  bottom: -50px;
  margin-left: 0px;
  border-radius: 50%;
  background: rgba(0,0,0,0.4  );
  filter: blur(12px);

}
