.name-block{
  text-align: center;
  margin-top: 1em;
  margin-bottom: max(15vh, 70px);
  background: white;
  z-index: 10;
}

.name-block p,  .name-block h3{
  margin: 0;
  padding-left: 0;
  font-size: 3rem;
}
.name-block p {
  font-size: 1.5rem;
}
