.name-block{
  text-align: center;
  position: absolute;
  top: var(--top-n);
  /* margin-bottom: max(15vh, 70px); */
  background: white;
  z-index: 10;
}

.name-block p,  .name-block h3{
  margin: 0;
  padding-left: 0;
  font-size: 3rem;
}
.name-block p {
  font-size: 1.5rem;
}
