body {
 font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 300;
 text-transform: uppercase;
}

.App {
  text-align: center;
}


.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.name-block{
  position:absolute;
  text-align: left;
  padding-top: 1em;
}

.name-block p,  .name-block h3{
  margin: 0;
  padding-left: 1.5rem;
  font-size: 1.5rem;

}
.name-block p {
  font-size: 1rem;
}
