body {
 font-family: 'Enriqueta', serif;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 600;
 text-transform: uppercase;
}

.App {
  text-align: center;
  display: flex;
  justify-content:center;
  flex-direction: column;

}


.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.spacer-b-8{
  padding-bottom: 8%;
}
