:root{
  --room-width: 60vw;
  --room-height: max(130vh, 600px);
}

.about-container{
  margin: 0 auto;
  width: var(--room-width);
  height: var(--room-height);
  top: 2vh;
  position: absolute;
  transform-origin: 50% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-room{
  transform-style: preserve-3d;
  perspective: var(--room-height);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: calc(0.75 * var(--room-height));
}

.wall{
  width: var(--room-width);
  height: var(--room-height);
  border: 2px black solid;
  position: relative;

}

.left-wall{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: -2px;
  transform-origin: right;
  transform: rotateY(45deg) ;
}
.right-wall{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  transform-origin: left;
  text-align: left;
  transform: rotateY(-45deg) ;
  transform-style: preserve-3d;
}



.about-photo-outer{
  width: min(30vw, 30vh);
  height: min(30vw, 30vh);
  position: relative;
  bottom: 4em;
  right: 6em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  transform-style: preserve-3d;
  perspective-origin: 400% 300%;
  perspective: 2000px;
}

.about-photo-top{
  height: min(2vw, 2vh);
  width: min(25vw, 25vh);
  background: linear-gradient(to left, #1c1c1c 0%, #3b3b3b 60%, #757373 100%);
  margin-left: min(1.9vw, 1.9vh);
  margin-right: min(2vw, 2vh);
  position: absolute;
  transform-origin: top;
  transform: rotateX(90deg) ;
}

.about-photo-side{
  height: min(25vw, 25vh);
  width: min(2vw, 2vh);
  background: linear-gradient(to top, #0f0f0f 0%, #2b2b2b 60%, #4d4d4d 100%);
  transform-origin: right;
  transform: rotateY(90deg) ;
  margin-right: -1px;
}


/* framed photo from: https://thinkux.ca/blog/Creating-Framed-Matted-Pictures-Using-CSS/ */
.about-photo-frame{
  width: min(25vw, 25vh);
  height: min(25vw, 25vh);
  overflow: hidden;
  position: relative;
  background: black;
  box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.3);

}

.about-photo-mat{
  position: absolute;
  background: white;
  top: 0.1em;
  bottom: 0.1em;
  left: 0.1em;
  right: 0.1em;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5) inset;
}

.about-photo{
  position: absolute;
  top: 0.6em;
  bottom: 0.7em;
  left: 0.65em;
  right: 0.7em;
  filter: grayscale(100%);
  transition: 0.5s;
  overflow: hidden;
}

.about-photo::after{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5) inset;
}

.about-photo:hover{
  filter: grayscale(0%);
}

.about-photo img{
  position: relative;
  width: 125%;
  left: -14%;
  top: -13%;
  transition: 1s;
  transform-origin: 30% 25%;
}

.about-photo:hover img{
  transform: scale(150%);
}

.intro-text{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: min(20em, 40vw);
  margin-left: 2em;
  font-size: 0.8em;
}

.intro-text p{
  margin-block-start: 0;
  color: white;
  text-shadow: 0px 0px 2px hsl(0, 0%, 30%),
              1px 0px 1px hsl(0, 0%, 30%),
              2px 1px 1px hsl(0, 0%, 30%),
              3px 1px 2px hsl(0, 0%, 35%),
              4px 2px 3px hsl(0, 0%, 35%),
              5px 2px 4px hsl(0, 0%, 45%),
              6px 3px 5px hsl(0, 0%, 50%),
              7px 4px 6px hsl(0, 0%, 75%);
}

.intro-text p:hover{
  color: black;
  text-shadow: 0px 0px 2px hsl(63, 88%, 35%),
              1px 0px 1px hsl(63, 88%, 70%),
              2px 1px 1px hsl(63, 88%, 70%),
              3px 1px 2px hsl(63, 88%, 70%),
              4px 2px 3px hsl(63, 88%, 70%),
              5px 2px 4px hsl(63, 88%, 75%),
              6px 3px 5px hsl(63, 88%, 85%),
              7px 4px 6px hsl(63, 88%, 85%);
}

.about-text-outer{
  position: relative;
  transform-style: preserve-3d;
  font-size: 0.6em;
  transform: translateZ(-6em);
  margin: -1em;
  margin-left: -1em;
  margin-top: 6em;
}

.about-text-container{
  font-size: 1.2em;
  line-height: 1.2em;
  position: relative;
  width: 18em;
  height: 6em;
  transform-style: preserve-3d;
}

.about-text-item{

  position: absolute;
  text-align: left;
  width: 17em;
  height: 5em;
  padding: 0.5em;
  box-shadow: inset 0px 0px 0px 2px rgba(10, 0, 0, 0.8),
              0px 0px 0px 1px rgba(10, 0, 0, 0.8);
  background: white;
  display: block;
  margin: 0;
  transform-style: preserve-3d;
}

.about-text-item::after{
  content: '';
  right: 0px;
  bottom: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: white;
  box-shadow: inset 0px 0px 0px 2px rgba(10, 0, 0, 0.8);
  transform: rotateX(180deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

/* .about-text-item:hover{
  text-shadow: 0 0 13px #F5FF1D;
} */

/* top */
.ati0 {
  transform: rotateX(90deg) ;
  margin-top: -3em;
}

/* bottom */
.ati1 {
  transform: rotateX(-90deg)  ;
  margin-top: 3em;
}

/* front */
.ati2 {
  transform: translateZ(3em);
}

/* back */
.ati3 {
   transform: translateZ(-3em) rotateX(180deg);
}




.floor{
  position: relative;
  top: min(-90vh, -470px) ;
}

.about-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  font-size: 1.4em;
}

.about-button:hover p{
  position: relative;
  /* box-shadow: 0 0 10px 3px #F5FF1D; */
  text-shadow: 0 0 13px #F5FF1D;
  bottom: 3px;
}

.about-button-shadow{
  content: '';
  position: relative;
  width: 1em;
  height: 0.25em;
  bottom: 0.2em;
  border-radius: 50%;
  background: rgba(0,0,0,0.4 );
  z-index: -5;
  filter: blur(0.1em);
}
